# Project by https://github.com/rix1337

.claude/*.local.json

# Hostnames locaux (non destinés à l'upstream)
hostnames.txt

# Python
*.pyc
*.bak

# Virtual Environment
.venv

# PyCharm
.idea

# Ruff
.ruff_cache

# MacOS
.DS_Store
**/.DS_Store

# Quasarr
*.conf
*.db
*.ini
.env
